@using EntityLayer.Entity
@model List<Faq>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div id="content" class="col-sm-12">
        <h3>Sık Sorulan Sorular !</h3>
       
        <p>
            <br>
        </p>
        <div class="row">
            <div class="col-sm-12">
                <ul class="yt-accordion">
                    @foreach (var item in Model)
                    {


                    <li class="accordion-group">
                        <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>@item.Title</span></h3>
                        <div class="accordion-inner">
                            <p>@item.Description. </p>
                           
                        </div>
                    </li>

                    }
             
                </ul>
            </div>
        </div>


    </div>
</div>
