@model EntityLayer.Entity.ContactInformation
<div class="inner-info">
    <strong>Müşteri Destek Hattı:</strong><br> 
    <a style="color:#fff" href="tel:@Model.Phone"><span> @Model.Phone  </span></a>

</div>